*{
    text-decoration: orangered;
  }

  .tn {
  width: 250px;
  background-color: greenyellow;
  border-radius: 25px;
  border: 5px solid hotpink;
  box-shadow: 5px 5px 50px indigo;
  transition: all .1s ease-in-out; 
  margin-left: 20px;
  float: left;
  }

  .tn:hover{
  transform: scale(1); 
  }

  .t{
    padding-top: 15px;
  }

  .center{
  margin: 0 auto;
  width: 1150px;
  }

  img{
    width: 225px;
  }

  .tn img{
    height: 174px;
  }